@import 'variables.css.scss';

body {
  background-image:url(/assets/yellowfade-texture.png);
  background-repeat:repeat;

  
}

#social-links {
  background-color:darken($dark-teal, 20%);
  height:30px;
  line-height:30px;
  color:#ffffff;
  a {
    color:#ffffff;
  }

}

#header-wrapper {

  
  padding:30px 0;
  border-bottom:20px solid rgba(0,0,0,.1);
}

#header {
 
  min-height:900px;
  padding:40px 0;
    background-image:url(/assets/blue_IMG_6551.gif);
  // background-color:lighten($dark-teal, 10%);
  background-repeat:no-repeat;
  background-size:cover;
  background-position-x:50%;
  background-position-y:0px;
}



#top {
 
}

.top-phone {
  
  text-align:center;
  margin-top:15px;
  h4 {font-size:24px;color:rgba(0,0,0,.6);font-weight:200;}
  h4 a {color:darken($bh-fade-yellow,32%)}
  span {font-size:70%;color:rgba(0,0,0,.3);}

}

.logo {
  img {margin:0 auto;}
  width:50%;
  margin:0 auto;
}

#phone.text-center {
  font-family:$source-sans;
  font-weight:100;
  color:#fff;
  line-height: .90em;
  margin-top:20px;
  font-size:32px;
  a {
    color:#fff;
  }
}

#main-content {
  margin-top:0px;
  min-height:400px;
  background-color:$super-dark-gray;
  border:1px solid red;


}

.about {

    padding:0px 0 40px 0 ;
    // background-color:rgba(0,0,0,.7);

    color:#fff;

  h1, h2, h3 {
    font-family:$oleo;
    font-size:36px;
    color:#fff;
    margin-top:-20px;
    line-height: .85em;

  }
  h2 {
    font-size:32px;
    margin-top:20px;
  }

  .maps h3 {
    color:#ffffff !important;
    font-weight:200;
  }
  p {font-family:$source-sans;}
  margin-top:10px;
  color:#fff;
  #carousel-main {
    margin-top:0px;
    box-shadow:8px 8px 1px rgba(0,0,0,.2);
  }

  img {
    border:5px solid rgba(255,255,255,.7);
    
    box-shadow:3px 3px 16px rgba(0,0,0,.2);
  }

}

.address-hours {
  font-size:18px;
  color:rgba(255,255,255,.7);
}

.trempealeau-intro {

  h1 {font-family:$pacifico;
      font-size:70px;
      color:lighten($bh-fade-green,20%);

    }
  background-color:$bh-fade-green;
  min-height:120px;
  
}

.trempealeau-body {
  h1 {font-family:$pacifico;font-size:70px;color:#fff;}
  padding-top:40px;
  padding-bottom:40px;
  background-image:url(/assets/storefront4.jpg);
  background-position-x:50%;
  background-position-y:100%;
  background-size:cover;
  background-color:lighten($bh-fade-green,20%);
  min-height:950px;
  max-height:951px;

}

#trempealeau-text {
  padding:40px 0;
  min-height:375px;
  // background-color:lighten($bh-fade-green, 30%);
  background-color:#cccdc2;
  .lead {
    // color:rgba(0,0,0,.5);
    color:rgba(0,0,0,.6);
    font-size:22px;
    font-weight:200;
    letter-spacing: .05em;
  }


}

#rental-services-accessories {
  background-color:darken($bh-fade-blue, 25%);
  min-height:400px;
  padding:20px 0 40px 0;
  color:lighten($bh-fade-blue, 10%);  
  h1 {
    font-family:$oleo;

    

  }
  img {
    border:20px solid rgba(0,0,0,.1);
    margin-bottom:20px;

  }

  p {

  }
}

#great-river-trail {
  padding:0px 30px;
  min-height:500px;
  background-image:url(/assets/trails_DSC_0106.png);
  background-size:cover;
  background-position-y:90%;
  background-position-x:50%;
  h1, h3 {
    font-family: $oleo;
    font-size:72px;
    color:#fff;
    text-shadow: 3px 3px 5px rgba(0,0,0, .6);
    margin-bottom:0px;
  }

  h3 {
    text-align: center;
    font-size:40px;
    margin-top:0;
  }
  #links {
    //background-color:rgba(202,237,125, .9);
    background-color:rgba(0,0,0, .8);
    padding:1em;
    min-height:250px;
    //color:darken(#caed7d, 45%);
    color:rgba(255,255,255,.7);
    text-shadow: 1px 1px 5px rgba(0,0,0, 1);
    font-size:20px;
    font-weight:100;
    font-family: $bree;
    letter-spacing: .1em;
    border-radius:10px;
    margin-bottom:20px;
  }
  #links2 {
    // margin-bottom:20px;
    background-image:url(/assets/map-bg.png);
    background-repeat:no-repeat;
    
    background-size:cover;
    min-height:400px;
    padding:70px 0 0px 0;
    background-position-x:50%;

    #left {
      p {
        font-size:20px;
        font-family: $bree;
      }
    }
    #right {
      h3 {
        color:darken($bh-fade-yellow, 5%);
        text-shadow: none;
        font-size:42px;
      }
      p {
        color:#000;
      }
      img {
        margin-bottom:20px;
      }

    }
  }
  #bike-rentals {
    margin-top:0px;
    padding-top:0px;
    // border-top:2px dotted rgba(255,255,255,.2);
    font-family:$source-sans;
    font-size:16px;
    font-weight:200;
    
    color:rgba(255,255,255,.9);
    h3 {
      padding-top:15px;
    }
  }
}

#brands {
  background-color:darken($bh-fade-blue, 25%);
  min-height: 200px;
  padding:40px 0 50px 0;
  color:lighten($bh-fade-blue, 10%);  
  h1 {
    font-family:$oleo;
    font-size:96px;
    color:#fff;
    text-shadow: 3px 3px 1px rgba(0,0,0, .4);
  }
  h3 {
    font-family:$oleo;
    font-size:32px;
  }
  img {margin-bottom:20px;}

  #brandbox {
    background-color:rgba(0,0,0,.8);
    padding:20px;
    color:#fff;

  }
  .logos {
    height:120px;


    img {
      margin:0 auto;
      line-height:120px;
      // vertical-align: middle;
      // display:inline;
    }
  }
}

#info-content {
    h3, p, td, i.fa {color:lighten($dark-teal, 40%);}
  a {
    color:lighten($dark-teal, 50%);
  }

}

footer {
  background-color:darken($dark-teal, 20%);
  padding:10px;
  margin-top:0px;
  font-size:10px;
  h1, p, td {color:lighten($dark-teal, 30%);}
  a {
    color:#fff;
  }
}