$chalk:#e6e6c0;
$seafoam:#b8d8cb;
$dark-seafoam:#83bfbf;
$orange:#f68e6b;
$dark-teal:#3b6b6d;


$bh-blue:#0063a8;
$bh-fade-blue:#658fa8;

$bh-green:#009a4d;
$bh-fade-green:#63a17f;

$bh-yellow:#f7e509;
$bh-fade-yellow:#d5c976;

$yesteryear:'Yesteryear', 'cursive';
$bree:'Bree Serif', 'serif';
$pacifico:'Pacifico', 'cursive';
$anton:'Anton', 'sans-serif';
$oleo:'Oleo Script', 'cursive';
$source-sans:'Source Sans Pro', 'sans-serif';


$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;